/* glue: 0.13 hash: 0cb039c8af */
        .sprite-images-hero1,
.sprite-images-hero,
.sprite-images-iphone,
.sprite-images-logo,
.sprite-images-facebook_logo,
.sprite-images-yahoo_logo,
.sprite-images-paypal_logo,
.sprite-images-google_logo,
.sprite-images-nav_arrow_hover,
.sprite-images-nav_arrow,
.sprite-images-windows_icon,
.sprite-images-ios_icon,
.sprite-images-close_video,
.sprite-images-android_icon,
.sprite-images-f_icon6,
.sprite-images-f_icon3,
.sprite-images-f_icon2,
.sprite-images-f_icon5,
.sprite-images-f_icon4,
.sprite-images-f_icon1,
.sprite-images-twitter,
.sprite-images-google,
.sprite-images-facebook,
.sprite-images-icon4,
.sprite-images-icon3,
.sprite-images-icon2,
.sprite-images-icon1,
.sprite-images-sub_icon,
.sprite-images-icon5,
.sprite-images-play_hover,
.sprite-images-play,
.sprite-images-iphone_app_hover,
.sprite-images-iphone_app,
.sprite-images-android_app_hover,
.sprite-images-android_app,
.sprite-images-loading {
            background-image: url('/sprites/images.png');
            background-repeat: no-repeat;
        }
        
        .sprite-images-hero1 {
            background-position: 0 0;
            width: 5515px;
            height: 3983px;
        }
        
        .sprite-images-hero {
            background-position: -5515px 0;
            width: 3000px;
            height: 1800px;
        }
        
        .sprite-images-iphone {
            background-position: -5515px -1800px;
            width: 339px;
            height: 617px;
        }
        
        .sprite-images-logo {
            background-position: -5854px -1800px;
            width: 522px;
            height: 100px;
        }
        
        .sprite-images-facebook_logo {
            background-position: -6376px -1800px;
            width: 132px;
            height: 45px;
        }
        
        .sprite-images-yahoo_logo {
            background-position: -6508px -1800px;
            width: 131px;
            height: 45px;
        }
        
        .sprite-images-paypal_logo {
            background-position: -6639px -1800px;
            width: 131px;
            height: 45px;
        }
        
        .sprite-images-google_logo {
            background-position: -6770px -1800px;
            width: 130px;
            height: 45px;
        }
        
        .sprite-images-nav_arrow_hover {
            background-position: -6900px -1800px;
            width: 65px;
            height: 32px;
        }
        
        .sprite-images-nav_arrow {
            background-position: -6965px -1800px;
            width: 65px;
            height: 32px;
        }
        
        .sprite-images-windows_icon {
            background-position: -6376px -1845px;
            width: 40px;
            height: 38px;
        }
        
        .sprite-images-ios_icon {
            background-position: -6416px -1845px;
            width: 29px;
            height: 38px;
        }
        
        .sprite-images-close_video {
            background-position: -6445px -1845px;
            width: 38px;
            height: 38px;
        }
        
        .sprite-images-android_icon {
            background-position: -6483px -1845px;
            width: 33px;
            height: 38px;
        }
        
        .sprite-images-f_icon6 {
            background-position: -7030px -1800px;
            width: 36px;
            height: 32px;
        }
        
        .sprite-images-f_icon3 {
            background-position: -7066px -1800px;
            width: 36px;
            height: 32px;
        }
        
        .sprite-images-f_icon2 {
            background-position: -7102px -1800px;
            width: 36px;
            height: 32px;
        }
        
        .sprite-images-f_icon5 {
            background-position: -7138px -1800px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-images-f_icon4 {
            background-position: -7170px -1800px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-images-f_icon1 {
            background-position: -7202px -1800px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-images-twitter {
            background-position: -7234px -1800px;
            width: 30px;
            height: 30px;
        }
        
        .sprite-images-google {
            background-position: -7264px -1800px;
            width: 30px;
            height: 30px;
        }
        
        .sprite-images-facebook {
            background-position: -7294px -1800px;
            width: 30px;
            height: 30px;
        }
        
        .sprite-images-icon4 {
            background-position: -7324px -1800px;
            width: 22px;
            height: 19px;
        }
        
        .sprite-images-icon3 {
            background-position: -7346px -1800px;
            width: 22px;
            height: 17px;
        }
        
        .sprite-images-icon2 {
            background-position: -7368px -1800px;
            width: 22px;
            height: 14px;
        }
        
        .sprite-images-icon1 {
            background-position: -6516px -1845px;
            width: 22px;
            height: 16px;
        }
        
        .sprite-images-sub_icon {
            background-position: -7390px -1800px;
            width: 20px;
            height: 14px;
        }
        
        .sprite-images-icon5 {
            background-position: -6516px -1861px;
            width: 17px;
            height: 19px;
        }
        
        .sprite-images-play_hover {
            background-position: -6538px -1845px;
            width: 14px;
            height: 16px;
        }
        
        .sprite-images-play {
            background-position: -6552px -1845px;
            width: 14px;
            height: 16px;
        }
        
        .sprite-images-iphone_app_hover {
            background-position: -6566px -1845px;
            width: 12px;
            height: 16px;
        }
        
        .sprite-images-iphone_app {
            background-position: -6578px -1845px;
            width: 12px;
            height: 16px;
        }
        
        .sprite-images-android_app_hover {
            background-position: -6590px -1845px;
            width: 14px;
            height: 16px;
        }
        
        .sprite-images-android_app {
            background-position: -6604px -1845px;
            width: 14px;
            height: 16px;
        }
        
        .sprite-images-loading {
            background-position: -7410px -1800px;
            width: 14px;
            height: 14px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-images-hero1,
    .sprite-images-hero,
    .sprite-images-iphone,
    .sprite-images-logo,
    .sprite-images-facebook_logo,
    .sprite-images-yahoo_logo,
    .sprite-images-paypal_logo,
    .sprite-images-google_logo,
    .sprite-images-nav_arrow_hover,
    .sprite-images-nav_arrow,
    .sprite-images-windows_icon,
    .sprite-images-ios_icon,
    .sprite-images-close_video,
    .sprite-images-android_icon,
    .sprite-images-f_icon6,
    .sprite-images-f_icon3,
    .sprite-images-f_icon2,
    .sprite-images-f_icon5,
    .sprite-images-f_icon4,
    .sprite-images-f_icon1,
    .sprite-images-twitter,
    .sprite-images-google,
    .sprite-images-facebook,
    .sprite-images-icon4,
    .sprite-images-icon3,
    .sprite-images-icon2,
    .sprite-images-icon1,
    .sprite-images-sub_icon,
    .sprite-images-icon5,
    .sprite-images-play_hover,
    .sprite-images-play,
    .sprite-images-iphone_app_hover,
    .sprite-images-iphone_app,
    .sprite-images-android_app_hover,
    .sprite-images-android_app,
    .sprite-images-loading {
                background-image: url('images.png');
                -webkit-background-size: 8515px 3983px;
                -moz-background-size: 8515px 3983px;
                background-size: 8515px 3983px;
            }
        }
        